body {
  --main-bg-color: white;
  --main-color: black;
  --light-color: white;
  --main-button-color: #7a68d2;
  --main-grey-color: #68676c;
  --main-red-color: red;
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: var(--main-button-color);
  border-width: 1px;
  border-color: var(--main-button-color);
  color: var(--light-color);
  padding: 10px;
  margin: 2px;
}

button:hover {
  background-color: var(--main-grey-color);
}

button.startOverButton {
  position: fixed;
  right: 20px;
}

pre.gameOver {
  color: var(--main-red-color);
  text-align: center;
  font-family: monospace;
}

.gameHeader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-color: var(--main-bg-color);
}

.buttonContainer {
  margin: 5px;
}

.sceneBox {
  text-align: justify;
}

.sceneList {
  padding-top: 120px;
  margin-left: 25%;
  margin-right: 25%;
}

.oldScenes {
  color: var(--main-grey-color);
}